<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.damienjacques.gerant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ChooseRegistrationActivity"
            android:parentActivityName=".MainActivity"
            />
        
        <activity android:name=".ReceptionCoffeeActivity"
            />

        <activity android:name=".RegistrationClientActivity"
            />

        <activity android:name=".OfferCoffeeActivity"
            />

        <activity android:name=".ReservationCoffeeActivity"
            />

        <activity android:name=".HistoryClientActivity"
            />

        <activity android:name=".OptionClientActivity"
            />

        <activity android:name=".OptionCoffeeActivity"
            />

        <activity android:name=".PromotionClientActivity"
            />

        <activity android:name=".ReceptionClientActivity"
            />

        <activity android:name=".RegistrationCoffeeActivity"
            />
    </application>

</manifest>